<!doctype html>
<!--
    Programado por Fernando Marcos 
    Contacto:   https://fernandomarcos.com
-->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta name="description" content="Jugar memorama de IKEA">
        <title>Memorama IKEA by Fernando Marcos</title>
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>
        <main role="main" class="container-fluid" id="app">
            <div class="row">
                <div class="col-12">
                    
                    <table align="center">
                     <p>
        
                      <td><img align="center" src="img/memorama-ikea-logo.png"  width="346"></td>

                    </table> 
                    <br>   

                    <p>
                    
                    </p>
                    </p>
                </div>
            </div>

            <br>
            <div align="center" v-for="(fila, indiceFila) in memorama" :key="indiceFila"
                class="row">
                <div :key="indiceFila+''+indiceImagen" class="col-3"
                    v-for="(imagen, indiceImagen) in fila">
                    <div class="mb-3">
                        <img @click="voltear(indiceFila, indiceImagen)"
                            :class="{'girar': imagen.mostrar}"
                            :src="(imagen.mostrar ? imagen.ruta :
                            NOMBRE_IMAGEN_OCULTA)" class="card-img-top img-fluid
                            img-thumbnail">
                    </div>
                </div>
            </div>

<div>
    <br>
    <br>

  <p align="center">
                        <span class="h4">INTENTOS: </span>
                        {{intentos}}/{{MAXIMOS_INTENTOS}}&nbsp;<span class="h4">ACIERTOS:
                        </span> {{aciertos}}
                        <br><a @click="mostrarCreditos" href="#"> Acerca de este juego </a>
                    </p  

    
</div>


        </main>
<!--* <footer class="px-2 py-2 fixed-bottom bg-success text-white">
            <span class="text-center">Programado con ❤️  por
                <a class="text-white" href="https://fernandomarcos.com/">Fernando Marcos</a>
            </span>
      </footer>
 -->
<!-- Footer -->



<footer class="bg-light text-center text-lg-start fixed-bottom bg-success text-white">
  

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(0, 81, 186)">
    
    <a class="text-warning" href="mailto:info@fernandomarcos.com"> © 2021 by Fernando Marcos </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

         <script src="./js/sweetalert2.all.min.js"></script>
        <script src="./js/vue.min.js"></script>
        <script src="./js/script.js"></script>
    </body>

</html>